.skill_container{
    display: flex;

    justify-content: space-evenly;
    /* height: 90vh; */
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding: 40px 1% 5% 1%;
}
.section{
    margin-top: 30px;
    flex : 1 ;
    width: 50%;

}
.skill_section{
   flex: 1;
}
.skills{

    display: flex;
    /* width: 100%; */
    margin:10px 10px ;
    flex-direction: column;   
}
/*******************************************************/
.progressbar_container{
    align-self: center;
    display: flex;
    padding: 7px;
    width: 95%;
    align-items: center;
    align-items: baseline !important;
    
}
.progress_bar_border{
    align-self: center;
   background-color:  rgb(9, 0, 68) ;
   height: 25px;
   border-radius: 20px 20px 20px 20px;
   padding: 0.7PX 4px;
   width: 75%;
}
.progress_bar_content{
    border-radius: 20px 20px 20px 20px;
    position: relative;
    top: 18%;
    height: 15px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,90,1) 50%, rgba(252,69,70,1) 100%);
}
.skill_name {
    font-weight: bold;
    margin-right: 2px;
    padding: 0 4px 3px 0;
    align-self: center;
    width: 20%;

}
/* #skillimg img{
    max-width: 300px;
} */
/*********************************************/
@media only screen and (max-width: 700px) {
    .skill_container{
        flex-direction: column;
        height: auto;
    }
       
    .section{
        width: 100%;
        height: 100%;
        align-self: center;
        text-align: center;
    }
  .image_section img {
        /* padding: 3%; */
        /* width: 400px; */
        max-width: 400px;
    }
    .skill_container{
        flex-direction: column ;
    }
    /* #skillimg{
        max-width: 300px;
    } */
 }
 @media only screen and (max-width: 600px) {

    

 }